{% extends "classifier/base.html" %}
{% block title %}Editing Trap {{ trap.id }} - Classifier{% endblock %}

{% block content %}
<div class="col-md-10 offset-md-1">
  <h1>Editing Trap {{ trap.id }}</h1>

  <div class="form-group float-right">
    <a href="{% url 'trap_detail' pk=trap.id %}" class="btn btn-danger">Back</a>
  </div>

  <form style="margin-top: 20px;" method="POST" class="post-form">
    {% csrf_token %}

    <div class="form-group">
      <label for="formGroupExampleInput">Description</label>
      <input type="text" name="description" class="form-control" id="id_description" required autofocus placeholder="Trap description" value="{{ trap.description }}">
    </div>

    <button type="submit" class="save btn btn-success float-right">Save</button>
  </form>
</div>
{% endblock %}
