{% extends "classifier/base.html" %}
{% block title %} Images - Classifier {% endblock %}

{% block content %}
<div class="row">
  <h1 class="offset-1">Traps</h1>
  <div style="position: absolute; left: 80%;" class="">
    <a href="{% url 'trap_new' %}" class="btn btn-success">New Trap</a>
  </div>
</div>

<div class="col-md-10 offset-md-1">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {% if traps %}
        {% for trap in traps %}
          <tr onclick="window.location='{% url 'trap_detail' pk=trap.id %}';">
            <th scope="row">{{ trap.id }}</th>
            <td>{{ trap.description }}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}
