{% extends "classifier/base.html" %}
{% block title %}Traps - Classifier{% endblock %}

{% block content %}
<div>
  {% url 'trap_new' as url %}
  {% include "inserts/header.html" with name='Traps' local=url new=True%}
  <table class="highlight">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {% if traps %} {% for trap in traps %}
      <tr onclick="window.location='{% url 'trap_detail' pk=trap.id %}';">
        <th scope="row">{{ trap.id }}</th>
        <td>{{ trap.description }}</td>
      </tr>
      {% endfor %} {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
