html, body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 100px;
  background-color: whitesmoke;
}

.form {
  width: 100%;
  max-width: 300px;
  margin: auto;
}
