{% extends "classifier/base.html" %}
{% block title %}Editing Image {{ img.id }} - Classifier{% endblock %}

{% load static %}
{% block aditional %} <script type="text/javascript" src="{% static 'js/loadImage.js' %}"></script> {% endblock %}

{% block content %}
<div class="col-md-10 offset-md-1">
  <h1>Editing Image {{ img.id }}</h1>

  <div class="form-group float-right">
    <a href="{% url 'image_detail' pk=img.pk %}" class="btn btn-danger">Back</a>
  </div>

  <form style="margin-top: 20px;" method="POST" class="post-form">
    {% csrf_token %}

    <div class="form-group">
      <select name="trap" class="custom-select " required id="id_trap">
        {% if traps %}
          {% for trap in traps %}
            <option {% if trap.id == img.trap.id %} selected {% endif %} value="{{ trap.id }}">{{ trap.description }}</option>
          {% endfor %}
        {% else %}
          <option value="" selected>No trap registered</option>
        {% endif %}
      </select>
    </div>

    <div class="form-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="fileinput" accept="image/gif, image/jpeg, image/png" required onchange="readURL(this);" />
        <label class="custom-file-label" id="labelText" for="customFile">Choose an Image</label>
        <div class="col-md-8 offset-md-2">
          <img id="id_src" style="height: 350px; width: 100%; object-fit: cover; margin-top: 10px; margin-bottom: 360px;" class="img-fluid" src="{{ img.image }}">
        </div>
        <p><textarea name="image" style="display:none;" class="form-control-" required id="id_image"></textarea></p>
      </div>
    </div>
    <button type="submit" class="save btn btn-success float-right">Save</button>
  </form>
</div>
{% endblock %}
