{% extends "classifier/base.html" %}
{% block title %}Images - Classifier{% endblock %}

{% block aditional %}
<style>
.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.01);
}
</style>
{% endblock %}

{% block content %}
<div class="col-md-10 offset-md-1">
  <h1>Images</h1>

  <div class="btn-group form-group float-right">
    <a href="{% url 'image_new_data' %}" class="btn btn-primary">New Data Image</a>
    <a href="{% url 'image_new' %}" class="btn btn-success">New Image</a>
  </div>

  <div style="margin-top: 70px;" class="row">
    {% if display_img %}
    {% for img in display_img %}
    <div class="col-md-6">
      <div style="margin: 20px;" class="card mb-6">
        <a href="{% url 'image_detail' pk=img.id %}"><img style="height: 350px; width: 100%; object-fit: cover;" class="card-img-top zoom" src="{{ img.image }}" alt="Card image cap"></a>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
