{% load widget_tweaks %}

<!-- Image -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Image</span>
  </div>
  {% render_field form.image class+="form-control" %}
</div>

<!-- Insect -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Insect</span>
  </div>
  {% render_field form.insect class+="form-control" %}
</div>

<!-- Value -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Value</span>
  </div>
  {% render_field form.value class+="form-control" %}
</div>

<!-- X -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">X</span>
  </div>
  {% render_field form.y class+="form-control" %}
</div>

<!-- Y -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Insect</span>
  </div>
  {% render_field form.x class+="form-control" %}
</div>