{% load widget_tweaks %}

<!-- Trap -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Trap</span>
  </div>
  {% render_field form.trap class+="form-control" %}
</div>


<!-- Image -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Image</span>
  </div>
  {% render_field form.image class+="form-control" %}
</div>

<!-- Image -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Teste</span>
  </div>
  {% render_field form.img class+="form-control" %}
</div>