<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for insect in insects %}
    <tr>
      <th scope="row">{{ insect.id }}</th>
      <td>{{ insect.description }}</td>
      <td class="text-right">
        <a href="{% url 'classifier:insect_update' pk=insect.id %}" class="btn btn-primary">Update</a>
        <a href="{% url 'classifier:insect_delete' pk=insect.id %}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>