<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Title -->
    <title>
      {% block title %}{% endblock %}
    </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="#" type="image/png">

    <!-- Arquivos CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    {% block styles %}{% endblock %}
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <!-- <a class="navbar-brand" href="#"><img src="#" height="45px"></a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'classifier:index' %}">Home Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'classifier:insect_list' %}">Insects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'classifier:trap_list' %}">Traps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'classifier:image_list' %}">Images</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'classifier:data_list' %}">Data</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Conteúdo do site -->
    <main>
      {% block conteudo %}{% endblock %}
    </main>

    <!-- Scripts .js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
