{% extends "classifier/base.html" %}

{% block content %}
  <h1>you are at images</h1>



  <div class="form-group">

    <form method="POST" class="post-form">
      {% csrf_token %}

      <label for="exampleFormControlTextarea1">Trap</label>
      {{ form.trap }}

      <br>
      <br>

      <label for="exampleFormControlTextarea1">Image:</label>
      <input id="fileinput" type="file" accept="image/gif, image/jpeg, image/png" onchange="readURL(this);" /> <br><br>
      <p><textarea name="image" class="form-control" required id="id_image"></textarea></p>

      <button type="submit" class="save btn btn-default">Save</button>
    </form>

  </div>




{% endblock %}
