{% extends "classifier/base.html" %}

{% block content %}
  <h1>you are at images</h1>


  <!-- <input type="file" onchange="previewFile()"><br>
  <img src="" height="500" alt=""> -->

  <h1>Image Upload</h1>
	<!-- <textarea id="base"></textarea> -->

  <div class="form-group">
    <input id="fileinput" type="file" accept="image/gif, image/jpeg, image/png" onchange="readURL(this);" /> <br><br>
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="base" rows="3"></textarea>

    <form method="POST" class="post-form">
      {% csrf_token %}

      {{ form }}

      <button type="submit" class="save btn btn-default">Save</button>
    </form>

  </div>




{% endblock %}
