{% extends "classifier/base.html" %}
{% block title %} Classifier {% endblock %}

{% block content %}
<div>

  <div class="center-align">
    <h3>Currently there are {{ quantity }} unclassified insects</h3>
  </div>

  {% if img %}
  <div class="center-align">
    <img src="{{ img }}" alt="">
  </div>

  <div class="center-align">
    <div>

      {% if insects %}
        {% for i in insects %}
          <a href="#" class="waves-effect waves-light btn green darken-2">{{ i.description }}</a>
        {% endfor %}
      {% else %}
        <p>No Insects</p>
      {% endif %}
    </div>
  </div>
  {% endif %}

</div>
{% endblock %}
