{% extends "classifier/base.html" %}
{% block title %} Classifier {% endblock %}

{% block content %}
<div>

  <div class="center-align">
    <h3>Currently there are {{ quantity }} unclassified insects</h3>
  </div>

  {% if img %}
  <div class="center-align">
    <img src="{{ img }}" alt="">
  </div>

  <div class="center-align">
    <div>

      <form class="input-field" method="post">
        {% if insects %}
          {% for i in insects %}
            <a href="{% url 'set_teste' id=i.id x=data.cordX y=data.cordY %}" class="waves-effect waves-light btn green darken-2">{{ i.description }}</a>
          {% endfor %}
            <a href="{% url 'delete_teste' x=data.cordX y=data.cordY %}" class="waves-effect waves-light btn red darken-2 delete"><i class="material-icons">delete</i></a>
        {% else %}
          <p>No Insects</p>
        {% endif %}
      </form>

    </div>
  </div>
  {% endif %}

</div>
{% endblock %}
