{% extends "classifier/base.html" %}
{% block title %} Classifier {% endblock %}

{% block content %}
<div>

  <div class="center-align">
    <h3>Currently there are {{ quantity }} unclassified insects</h3>
  </div>

  {% if img %}
  <div class="center-align">
    <img src="{{ img }}" alt="">
  </div>

  <div class="center-align">
    <div>
      <a href="#" class="waves-effect waves-light btn green darken-2">Ninfa</a>
      <a href="#" class="waves-effect waves-light btn green darken-2">Aptero</a>
      <a href="#" class="waves-effect waves-light btn green darken-2">Alado</a>
    </div>
  </div>
  {% endif %}

</div>
{% endblock %}
