<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <title>djangoClassifier</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body class="text-center">

  <form action="{% url 'login' %}" method="POST" class="form-signin">
    {% csrf_token %}

    <h1 class="h3 mb-3 font-weight-normal">Must be superuser</h1>

    {% if form.errors %}
        <p style="color: red">You username an password didn't match!</p>
    {% endif %}

    <div class="fieldWrapper">
      <tr><td><input class="form-control" type="text" name="username" placeholder="Username" autofocus maxlength="254" required id="id_username"/></td></tr>
      <tr><td><input class="form-control" type="password" name="password" placeholder="Password" required id="id_password"/></td></tr>
    </div>

    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>
</body>

</html>
