<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>djangoClassifier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  </head>
  <body>
    <form action="{% url 'login' %}" method="POST" class="form">
      {% csrf_token %}
      <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username" autofocus required id="id_username"/></div>
      <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" required id="id_password"/></div>
      {% if form.errors %}
          <h6 class="text-danger">You username an password didn't match!</h6>
      {% endif %}
      <button type="submit" class="btn btn-success btn-block">Login</button>
      <input type="hidden" name="next" value="{{ next }}">
    </form>
  </body>
</html>
