{% extends "classifier/base.html" %}
{% block title %}Data - Classifier{% endblock %}

{% block content %}
<div>
  {% url 'data_new' as url %}
  {% include "inserts/header.html" with name='Data' local=url new=True%}
  <table class="highlight">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Value</th>
        <th scope="col">Variable</th>
        <th scope="col">X, Y</th>
        <th scope="col">Image</th>
        <th scope="col">Insect</th>
      </tr>
    </thead>
    <tbody>
      {% if data %} {% for d in data %}
      <tr onclick="window.location='{% url 'data_detail' pk=d.id %}';">
        <th scope="row">{{ d.id }}</th>
        <td>{{ d.value }}</td>
        <td>{{ d.variable }}</td>
        <td>{{ d.x }}, {{ d.y }}</td>
        <td>{{ d.image.id }}</td>
        <td>{{ d.insect }}</td>
      </tr>
      {% endfor %} {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
