{% extends "classifier/base.html" %}
{% block title %}New Data - Classifier{% endblock %}

{% block content %}
<div class="col-md-10 offset-md-1">
  <h1>New Data</h1>

  <div class="form-group float-right">
    <a href="{% url 'data' %}" class="btn btn-danger">Back</a>
  </div>

  <form style="margin-top: 20px;" method="POST" class="post-form">
    {% csrf_token %}

    <div class="form-group">
      {{ form.as_p }}
    </div>
    <button type="submit" class="save btn btn-success float-right">Save</button>
  </form>
</div>
{% endblock %}
