{% extends "classifier/base.html" %}
{% block title %}New Data - Classifier{% endblock %}

{% block content %}
  <div>
    {% url 'data' as url %}
    {% include "inserts/header.html" with name='New Data' local=url%}
    <form method="POST">
      {% csrf_token %}
      <div class="input-field">
        <select name="image" class="custom-select " required="required" id="id_image">
          {% if images %}
            <option value="" selected="selected" disabled="disabled">Choose an Image</option>
            {% for image in images %}
              <option value="{{ image.id }}">{{ image.id }}</option>
            {% endfor %}
          {% else %}
            <option value="" selected="selected">No image registered</option>
          {% endif %}
        </select>
        <label>Image</label>
      </div>
      <div class="input-field">
        <select name="variable" class="custom-select " required="required" id="id_variable">
          {% if variables %}
            <option value="" selected="selected" disabled="disabled">Choose a Variable</option>
            {% for variable in variables %}
              <option value="{{ variable.id }}">{{ variable.description }}</option>
            {% endfor %}
          {% else %}
            <option value="" selected="selected">No variable registered</option>
          {% endif %}
        </select>
        <label>Variable</label>
      </div>
      <div class="input-field">
        <select name="insect" class="custom-select " id="id_insect">
          {% if insects %}
            <option value="" selected="selected" disabled="disabled">Choose an Insect</option>
            {% for insect in insects %}
              <option value="{{ insect.id }}">{{ insect.description }}</option>
            {% endfor %}
          {% else %}
            <option value="" selected="selected">No insect registered</option>
          {% endif %}
        </select>
        <label>Insect</label>
      </div>
      <div class="input-field">
        <label>Value</label>
        <input type="number" name="value" class="form-control" id="id_value" step="0.00001" required="required">
      </div>
      <div class="input-field">
        <label>Cord X</label>
        <input type="number" name="x" class="form-control" id="id_x" required="required">
      </div>
      <div class="input-field">
        <label>Cord Y</label>
        <input type="number" name="y" class="form-control" id="id_y" required="required">
      </div>
      <button type="submit" class="waves-effect waves-light btn green darken-2 right">Save</button>
    </form>
  </div>
{% endblock %}