{% extends "classifier/base.html" %}
{% block title %}New Data - Classifier{% endblock %}

{% block content %}
<div class="col-md-10 offset-md-1">
  <h1>New Data</h1>

  <div class="form-group float-right">
    <a href="{% url 'data' %}" class="btn btn-danger">Back</a>
  </div>

  <form style="margin-top: 20px;" method="POST" class="post-form">
    {% csrf_token %}
    <div class="form-group">
      <select name="image" class="custom-select " required id="id_image">
        {% if images %}
          <option value="" selected>Choose an Image</option>
        {% for image in images %}
          <option value="{{ image.id }}">{{ image.id }}</option>
        {% endfor %}
        {% else %}
        <option value="" selected>No image registered</option>
        {% endif %}
      </select>
    </div>
    <div class="form-group">
      <select name="variable" class="custom-select " required id="id_variable">
        {% if variables %}
        <option value="" selected>Choose a Variable</option>
        {% for variable in variables %}
        <option value="{{ variable.id }}">{{ variable.description }}</option>
        {% endfor %}
        {% else %}
        <option value="" selected>No variable registered</option>
        {% endif %}
      </select>
    </div>
    <div class="form-group">
      <select name="insect" class="custom-select " id="id_insect">
        {% if insects %}
        <option value="" selected>Choose an Insect</option>
        {% for insect in insects %}
        <option value="{{ insect.id }}">{{ insect.description }}</option>
        {% endfor %}
        {% else %}
        <option value="" selected>No insect registered</option>
        {% endif %}
      </select>
    </div>
    <div class="form-group">
      <input type="number" name="value" class="form-control" id="id_value" step="0.00001" required placeholder="Value">
    </div>
    <div class="form-group">
      <input type="number" name="cordX" class="form-control" id="id_cordX" required placeholder="Point X">
    </div>
    <div class="form-group">
      <input type="number" name="cordY" class="form-control" id="id_cordY" required placeholder="Point Y">
    </div>
    <button type="submit" class="save btn btn-success float-right">Save</button>
  </form>
</div>
{% endblock %}
