{% extends "classifier/base.html" %}
{% block title %}Insects - Classifier{% endblock %}

{% block content %}
<div class="col-md-10 offset-md-1">
  <h1>Insects</h1>

  <div class="form-group float-right">
    <a href="{% url 'insect_new' %}" class="btn btn-success">New Insect</a>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      {% if insec %}
        {% for insect in insec %}
          <tr onclick="window.location='{% url 'insect_detail' pk=insect.id %}';">
            <th scope="row">{{ insect.id }}</th>
            <td>{{ insect.description }}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
