{% extends "classifier/base.html" %}
{% block title %} Insects - Classifier {% endblock %}

{% block content %}
<div class="row">
  <h1 class="offset-1">New Insect</h1>
  <div style="position: absolute; left: 80%;" class="">
    <a href="{% url 'insects' %}" class="btn btn-danger">Back</a>
  </div>
</div>

<div class="col-md-8 offset-md-2">
  <form style="margin-top: 20px;" method="POST" class="post-form">
    {% csrf_token %}

    <div class="form-group">
      <label for="formGroupExampleInput">Description</label>
      <input type="text" name="description" class="form-control" id="id_description" required placeholder="Insect description">
    </div>

    <button type="submit" class="save btn btn-success float-right">Save</button>
  </form>
</div>

{% endblock %}
