{% extends "classifier/base.html" %}
{% block title %}Editing Variable
  {{ variable.id }}
  - Classifier{% endblock %}

{% block content %}
  <div>
    <div class="row">
      <div class="col">
        <h4>Editing Variable
          {{ variable.id }}</h4>
      </div>
      <div class="col right">
        <a href="{% url 'variable_detail' pk=variable.pk %}" class="waves-effect waves-light btn red">Back</a>
      </div>
    </div>
    <form method="POST">
      {% csrf_token %}
      <div class="input-field">
        <label for="formGroupExampleInput">Description</label>
        <input type="text" name="description" class="form-control" id="id_description" required="required" autofocus="autofocus" placeholder="Variable description" value="{{ variable.description }}">
      </div>
      <button type="submit" class="waves-effect waves-light btn green darken-2 right">Save</button>
    </form>
  </div>
{% endblock %}