{% extends "classifier/base.html" %}
{% block title %}Variables - Classifier{% endblock %}

{% block content %}
<div>
  {% url 'variable_new' as url %} {% include "inserts/header.html" with name='Variables' local=url new=True%}
  <table class="highlight">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {% if variables %} {% for variable in variables %}
      <tr onclick="window.location='{% url 'variable_detail' pk=variable.id %}';">
        <th scope="row">{{ variable.id }}</th>
        <td>{{ variable.description }}</td>
      </tr>
      {% endfor %} {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
